body {
  margin: 0;
  background: url("../images/sophie.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif; }

p, h1, h2, h3, strong {
  font-family: 'Dosis', sans-serif; }

/*# sourceMappingURL=base.css.map */
