.contact_text {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }
  .contact_text span {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .contact_text h3 {
    font-size: 17px;
    font-weight: 100;
    font-family: 'Dosis',sans-serif; }

label {
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Dosis',sans-serif; }

input[type=text], [type=email] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  color: #000;
  font-family: "Dosis"; }

.send_button {
  text-align: right; }
  .send_button button {
    text-align: right;
    padding: 15px 40px;
    border-radius: 10%;
    border: none;
    background-color: #eee;
    transition: 0.7s; }
    .send_button button:focus {
      outline: 0; }
    .send_button button p {
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Dosis',sans-serif;
      font-weight: 500;
      display: table-cell;
      vertical-align: middle;
      background: -webkit-linear-gradient(#eee, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.angrytext {
  font-weight: bold;
  color: #4794D3;
  -webkit-animation: bounce-in 1s ease 0s 1 normal;
  animation: bounce-in 1s ease 0s 1 normal; }

@-webkit-keyframes bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    opacity: 1;
    transform: scale(1); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=contact.css.map */
