footer {
      position: absolute;
      width: 100%;
      left: 0;
  		bottom: 0;
      margin-top: 20px;

  .social_media {
    text-align: center;
    padding-bottom: 20px;

     a {
       display: inline-block;
       text-decoration: none;
       color: #000;
       text-transform: uppercase;
       font-size: 18px;
       font-family: 'Dosis', sans-serif;
     }
   }
}
