.portraits_home {
  display: block;
  margin-bottom: 50px;
  margin-top: 80px;

   img {
     max-width: 40%;
   }
}
.introduction_text {

  p {
    font-size: 18px;
    color: #000;
    background-color: #fff;
    font-weight: 200;
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 50px;
   }
   span {
     display: block;
     margin-bottom: 100px;
     margin-top: 50px;

     .signature_img {
       float: right;
       margin-bottom: 140px;
       margin-top: 20px;
     }
   }
 }
}
