.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;

  li {
    list-style-type: none;

    .active_page {
      color: red;
      font-weight: 800;

      &:hover {
      color: red;
      font-weight: 800;
      text-decoration: none;
      }
    }
  }
}

.nav {

  a {
		font-family: 'Dosis', sans-serif;
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-transform: uppercase;
	background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    &:hover {
    color: #ccc;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
    }
  }
}

.nav {

  .close {
  	position: absolute;
  	top: 8px;
  	right: 22px;
  	margin-left: 50px;
  	font-size: 30px;
		color: red;

		&:focus {
			outline: 0;
		}
  }
}

.slide {

  a {
	color: #000;
	font-size: 36px;

		&:focus {
			outline: 0;
		}
  }
}
