.news_box h2 {
  font-family: 'Dosis',sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin: 20px 0;
  position: relative; }

.news_text h2 {
  font-size: 25px;
  font-weight: 500;
  font-family: 'Dosis',sans-serif;
  margin-bottom: 4px;
  margin-top: 0; }
.news_text p {
  font-size: 15px;
  font-family: 'Dosis',sans-serif;
  text-align: justify; }

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer; }

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 290px;
  height: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -27%;
  left: 90%; }

/* Popup arrow */
.popup .popuptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=news.css.map */
