@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
	font-family: 'Dosis', sans-serif;
	overflow-x: hidden;
}

#content {
	position: relative;
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	max-width: 680px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}
