/* sass stuff, concerns all */
/* kolory */
/* replicate singular styles */
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800");
body {
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden; }

#content {
  position: relative;
  padding: 20px;
  transition: margin-left 0.7s;
  overflow: hidden;
  max-width: 680px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); }

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s; }
  .nav li {
    list-style-type: none; }
    .nav li .active_page {
      color: red;
      font-weight: 800; }
      .nav li .active_page:hover {
        color: red;
        font-weight: 800;
        text-decoration: none; }

.nav a {
  font-family: 'Dosis', sans-serif;
  display: block;
  padding: 20px 30px;
  font-size: 25px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .nav a:hover {
    color: #ccc;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none; }

.nav .close {
  position: absolute;
  top: 8px;
  right: 22px;
  margin-left: 50px;
  font-size: 30px;
  color: red; }
  .nav .close:focus {
    outline: 0; }

.slide a {
  color: #000;
  font-size: 36px; }
  .slide a:focus {
    outline: 0; }

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 20px; }
  footer .social_media {
    text-align: center;
    padding-bottom: 20px; }
    footer .social_media a {
      display: inline-block;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Dosis', sans-serif; }

/* styles for subpages */
.portraits_home {
  display: block;
  margin-bottom: 50px;
  margin-top: 80px; }
  .portraits_home img {
    max-width: 40%; }

.introduction_text p {
  font-size: 18px;
  color: #000;
  background-color: #fff;
  font-weight: 200;
  margin-bottom: 5px; }
  .introduction_text p:last-of-type {
    margin-bottom: 50px; }
  .introduction_text p span {
    display: block;
    margin-bottom: 100px;
    margin-top: 50px; }
    .introduction_text p span .signature_img {
      float: right;
      margin-bottom: 140px;
      margin-top: 20px; }

.news_box h2 {
  font-family: 'Dosis',sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin: 20px 0;
  position: relative; }

.news_text h2 {
  font-size: 25px;
  font-weight: 500;
  font-family: 'Dosis',sans-serif;
  margin-bottom: 4px;
  margin-top: 0; }
.news_text p {
  font-size: 15px;
  font-family: 'Dosis',sans-serif;
  text-align: justify; }

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer; }

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 290px;
  height: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -27%;
  left: 90%; }

/* Popup arrow */
.popup .popuptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.contact_text {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }
  .contact_text span {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .contact_text h3 {
    font-size: 17px;
    font-weight: 100;
    font-family: 'Dosis',sans-serif; }

label {
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Dosis',sans-serif; }

input[type=text], [type=email] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  color: #000;
  font-family: "Dosis"; }

.send_button {
  text-align: right; }
  .send_button button {
    text-align: right;
    padding: 15px 40px;
    border-radius: 10%;
    border: none;
    background-color: #eee;
    transition: 0.7s; }
    .send_button button:focus {
      outline: 0; }
    .send_button button p {
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Dosis',sans-serif;
      font-weight: 500;
      display: table-cell;
      vertical-align: middle;
      background: -webkit-linear-gradient(#eee, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.angrytext {
  font-weight: bold;
  color: #4794D3;
  -webkit-animation: bounce-in 1s ease 0s 1 normal;
  animation: bounce-in 1s ease 0s 1 normal; }

@-webkit-keyframes bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    opacity: 1;
    transform: scale(1); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
/* another styles based on concept DRY */
body {
  margin: 0;
  background: url("../images/sophie.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif; }

p, h1, h2, h3, strong {
  font-family: 'Dosis', sans-serif; }

/*# sourceMappingURL=sidebar.css.map */

/*# sourceMappingURL=style.css.map */
